@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');

body {
    background-color: black;
    background-image: url("tigrexbackground.png");
    background-attachment: fixed;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center; 
    color: white; 
}

h1 {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Audiowide', cursive;
    text-align: center;
    font-size: 3vw;
}

#cnlogo {
    width: 50%;
    align-self: flex-start;
    padding: 0px 200px 0px 0px ;
}

.icon {
    width: 8vw;
}

.container1 {
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.container2 {
    display : flex;
    flex-direction: row;
    text-align: center;
}