@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
* {
    box-sizing: border-box;
}
.fleximage{
    display: flex;
    justify-content: flex-start;
}
body {
    background-color: black;
    background-image: url("mainbackground.png");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
    width: 50%;
    font-size: 3vw;
    font-family: 'Audiowide', cursive;
}

h3 {
    width: 50%;
    font-size: 2vw;
    font-family: 'Audiowide', cursive;
}

p {
    width: 46%;
    font-size: 1vw;
    font-family: 'Mitr', sans-serif;
}

.container {
    display : flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}
.cnlogo {
    width: 10%;
}