@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
* {
    box-sizing: border-box;
}
.fleximage{
    display: flex;
    justify-content: flex-end;
}
body {
    background-color: black;
    background-image: url("mainbackground.png");
    background-attachment: fixed;
    background-size: 1500px;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Audiowide', cursive;
    text-align: left;
}
h3 {
    font-family: 'Audiowide', cursive;
    font-size: 23px;
    text-align: left;
}
p {
    background: 0%;
    font-size: 17px;
    font-family: 'Mitr', sans-serif;
    text-align: left;
}
.cnlogo {
    width: 10%;
}
.margin{
    margin: 1px 1px 1px 810px;
}