@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: black;
    background-image: url("tigrexbackground.png");
    background-attachment: fixed;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center; 
    color: white; 
}
h1 {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Audiowide', cursive;
    text-align: center;
    font-size: 3vw;
}
h3 {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Audiowide', cursive;
    font-size: 2vw;
    text-align: center;
}
p {
    background: 0%;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1vw;
    font-family: 'Mitr', sans-serif;
    text-align: center;
}
#cnlogo {
    width: 100%;
    align-self: flex-start;
    padding: 0px 200px 0px 0px ;
}

.icon {
    width: 8vw;
}

.container1 {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.container2 {
    display : flex;
    flex-direction: column;
    text-align: center;
    font-size: 1vw;
    font-family: 'Mitr', sans-serif;
}

.container3 {
    display : flex;
   justify-content: flex-end;

}

.container4 {
    display : flex;
   justify-content: flex-start;
}
